.cmp-settings-header {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .label {
        display: inline-block;
        min-width: 140px;
    }

    .slowdown-row {
        label {
            display: flex;
            align-items: center;
            gap: 4px;

            input[type='range'] {
                width: 200px;
            }
        }
    }

    .async-row {
        input[type='checkbox'] {
            margin-left: 0;
        }
    }

    .path-row {
        display: flex;
        align-items: center;
        gap: 4px;

        > button {
            margin-left: 4px;
        }

        .selected {
            display: flex;
            align-items: center;
            gap: 5px;

            p {
                max-width: 40vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                direction: rtl;
                margin: 0;
                text-decoration: underline;
                display: inline-block;
                cursor: pointer;
            }

            .actions {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-left: 4px;

                .buttons {
                    button {
                        svg {
                            padding-top: 3px;
                        }
                    }
                }
            }
        }

        .selector {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 5px;

            button {
                white-space: nowrap;
                margin-right: 4px;
            }

            p {
                max-width: 40vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                direction: rtl;
                margin: 0;
            }
        }

        .sync-indicator {
            margin-left: 8px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border-width: 2px;
            border-style: solid;
            display: block;
            --synced-color: rgb(31, 105, 59);
            --unsynced-color: rgb(145, 29, 29);

            &.in-sync {
                border-color: var(--synced-color);
                background-color: var(--synced-color);
            }
            &.not-in-sync {
                border-color: var(--unsynced-color);
                background-color: var(--unsynced-color);
            }
            &.no-path {
                border-color: var(--unsynced-color);
            }
        }
    }
}
