.cmp-info-dialog {
    background-color: var(--background-color);
    border: 1px solid var(--modal-border-color);
    border-width: 1px;
    border-radius: 8px;
    color: var(--text-color);
    min-width: 300px;

    h2 {
        margin-top: 0;
        color: var(--text-contrast-color);
    }

    .close-button {
        padding: 0;
        height: 16px;
        width: 16px;
        position: absolute;
        top: 16px;
        right: 16px;
        background: none;
        border: none;
        color: var(--text-color);
        opacity: 0.5;
        cursor: pointer;

        svg {
            height: 100%;
            width: 100%;
        }

        &:hover {
            opacity: 1;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 1.4em;

        > div {
            display: flex;
            .label {
                font-weight: 600;
                width: 70px;
            }

            &.path {
                .value {
                    max-width: 500px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    direction: rtl;
                    cursor: pointer;
                    color: white;
                    /*font-size: 2em;*/
                }
            }
        }
    }

    footer {
        margin-top: 16px;
        display: flex;
        justify-content: flex-end;
    }

    &::backdrop {
        -webkit-backdrop-filter: blur(0.2rem);
        backdrop-filter: blur(0.2rem);
        background-color: var(--modal-overlay-background-color);
    }
}
